@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Epilogue:ital,wght@0,700;1,700&display=swap");

body {
  font-family: "Commissioner", sans-serif;
  /* overflow: hidden; */
}

html,
body,
#modal {
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
